# Virtual environment
.venv/
venv/
ENV/

# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment & Credentials
.env
.env.*

# IDE & Editor configs
.vscode/
.idea/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/